<h1 class="mt-4">Your Information</h1>
<p class="lead mb-3">ID: <%= row.id %></p>
<p class="lead mb-3">First: Name <%= row.fName %></p>
<p class="lead mb-3">Last Name: <%= row.lName %></p>
<p class="lead mb-3">Email: <%= row.email %></p>
<p class="lead mb-3">Password: <%= row.password %></p>
<p class="lead mb-3">Status Type: <%= row.statusType %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>